.body-wrapper{
    width: 100%;
    height: calc(100vh - 142px);
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    padding-left: 36px;
    padding-top: 4px;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 67.84vh;
    position: fixed;
}

::-webkit-scrollbar{
    height: 10px;
}
::-webkit-scrollbar-track{
    background:#00689f ;
    margin-left: 36px;
    margin-right: 38px;
}

::-webkit-scrollbar-thumb{
    background:rgba(255,255,255,.4);
    border-radius: 4px;
    
}

.add-list-wrapper{
    min-width: 212px;
    width: 212px;
    font-size: 11.5px;
    background-color: rgba(255,255,255,.2);
    margin: 0 4px;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    padding: 10px 6px 8px;
    margin-right: 40px;
}

.add-list-wrapper:hover{
    background-color: rgba(255,255,255,.4);
}

.add-list-content{
    display: flex;
    align-items: center;
    column-gap: 6px;
}


.add-new-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 212px;
    width: 212px;
    font-size: 11.5px;
    background-color: #ebecf0;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    padding: 10px 6px 8px;
    margin-right: 40px;
}

.list-input-form{
    width: 100%;
}

.new-list-input{
    width: 100%;
    font-size: 11px;
    background-color: #fff;
    border: 2px solid #0079bf;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    padding: 4px 8px;
    margin-bottom: 6px;
    display: flex;
}

.new-list-button-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.add-new-list-button{
    color: #fff;
    border: 0;
    font-size: 12px;
    border-radius: 2px;
    background-color: #0079bf;
    padding: 6px 12px;
}

.add-new-list-button:hover{
    background-color:#00427cd8;
}

.card-close-icon{
    color: #42526e;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.card-close-icon:hover{
    color:black;
}