
.list-wrapper{
    min-width: 212px;
    width: 212px;
    max-height: 96%;
    background-color: #ebecf0;
    margin: 0 4px;
    border-radius: 3px;
    padding: 10px 8px 8px;
    margin-bottom: 10px;
    overflow-y: auto;
}
.list-wrapper::-webkit-scrollbar{
    width: 10px;
}
.list-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.18);
    border-radius: 3px;
}
.list-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
}
.list-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
}

.list-title-content{
    margin: 0;
    color: #172b4d;
    font-size: 11.25px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 3px;
}

.cards{
    margin-top: 6px;
    margin-bottom: 6px;
    overflow-y: auto;
    overflow-x: hidden;
}

.individual-card{
    margin-bottom: 6px;
    margin-top: 6px;
}
.add-new-card-wrapper{
    display: flex;
    align-items: center;
    color: #5e6c84;
    border-radius: 3px;
    font-size: 11.75px;
    font-weight: 400;
    line-height: 20px;
    padding: 1px 0;
    cursor: pointer;
    margin-left:-2px ;
    margin-right: -2px;
    justify-content: flex-start;
}

.list-new-card:hover{
    background-color: #dadbe1;
    color: #122b4b;
}

.add-icon{
    display: flex;
    align-items: center;
    padding-right: 4px;
}

.add-new-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-input-form{
    width: 100%;
}


.new-card-input{
    width: 100%;
    font-size: 11px;
    background-color: #fff;
    border: 2px solid #0079bf;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    padding: 4px 8px;
    margin-bottom: 6px;
    display: flex;
}

.new-card-button-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.add-new-card-button{
    color: #fff;
    border: 0;
    font-size: 12px;
    border-radius: 2px;
    background-color: #0079bf;
    padding: 6px 12px;
}

.add-new-card-button:hover{
    background-color:#00427cd8;
}

.card-close-icon{
    color: #42526e;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.card-close-icon:hover{
    color:black;
}